{% extends "layouts/main.html.twig" %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block main %}
	<section class="container pt-2">
		<h2>About</h2>
		<p>
			Information about the website.
		</p>
	</section>
{% endblock %}
