{% extends "layouts/main.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block main %}
	<section class="container pt-2">
		<h2>Home</h2>
		<p>
			Website home page.
		</p>
	</section>
{% endblock %}
