{% extends "layouts/main.html.twig" %}

{% block title %}Page Not Found - {{ parent() }}{% endblock %}

{% block main %}
			<section class="404 error-page">
				<h2>Page Not Found</h2>
				<p>
					The page you're looking for is missing.
				</p>
			</section>
{% endblock %}
